/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5.6.2018, 13:15:57
    Author     : Bermarda
*/
#header
{
    border: 0;
    height: 120px;
    background-color: #9edceb;
    justify-content: space-between;
    display:flex;
    
}

#hidden
{
    width: 250px;
    opacity: 0;
}

#naslov
{
    font-size: 70px;
    padding: 0;
    margin-top: 1%;
    font-family: open-sens;
}
#menu
{
    width: 400px;
    margin-top:3%;
    margin-right: 0;
    padding: 0;
    
}
ul
{
    list-style: none;
}
.menu1
{
    padding-right: 8px;
    padding-left: 8px;
    display: inline-block;

}
#footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50px;
    background-color: #9edceb;
}
#opis
{
    font-size: 20px;
    text-align: center;
}
#prjav
{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
}
.gumbi
{
    background-color: #87BDC9;
    color:black;
}
.gumbi:hover
{
    background-color: #82B5C2;
}
body
{
    font-family: open-sens;
}
#regist
{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
}
.container
{
    width: 60%;
    margin:0 auto;
}
td
{
    padding: 15px;
}
